Q1. What is a database? Differentiate between SQL and NoSQL databases.

### Database:
A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, updating, and management of that data.

#### SQL	
* RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	
* These databases have fixed schema	
* These databases are not suited for hierarchical data storage.	(designed primarily for tabular data not inherently optimized )
* These databases are best suited for complex queries	
* Vertically Scalable	
* Follows ACID property	
* Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	


#### NoSQL
* Non-relational or distributed database system.
* They have a dynamic schema
* These databases are best suited for hierarchical data storage.
* These databases are not so good for complex queries
* Horizontally scalable
* Follows CAP(consistency, availability, partition tolerance)
* Examples: MongoDB, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# DDL: 
Data Definition Language
is a subset of SQL (Structured Query Language) used for defining and managing the structure of database objects. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and schemas. 

#### CREATE:
The CREATE command is used to create new database objects like tables, indexes, or views.


1. CREATE TABLE employees (
2.   employee_id INT PRIMARY KEY,
3.    first_name VARCHAR(50),
4.    last_name VARCHAR(50),
5. );

#### DROP:
The DROP command is used to delete existing database objects, such as tables or indexes.
1. DROP TABLE employees;


#### ALTER: 
The ALTER command is used to modify the structure of an existing database object, like adding or deleting columns from a table.
1. ALTER TABLE employees
2. ADD email VARCHAR(100);

#### TRUNCATE:
The TRUNCATE command is used to remove all data from a table but keep the table structure intact. It is faster than the DELETE statement for removing all records.

TRUNCATE TABLE employees;

<!--  CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
); -->

.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

###  DML
Data Manupulation Language used for manipulating data stored in a database. DML commands are used to add, modify, and delete data in database tables. 

#### INSERT:
The INSERT command is used to add new rows of data into a database table.

1. INSERT INTO employees (employee_id, first_name, last_name)
2. VALUES (1, 'Mani', 'Kanta');



#### UPDATE:
The UPDATE command is used to modify existing data in a database table.

1. UPDATE employees
2. SET first_name = 'Jagan'
3. WHERE employee_id = 1;

#### DELETE:
The DELETE command is used to remove rows from a database table based on specified conditions.

1. DELETE FROM employees
2. WHERE employee_id = 1;

Q4. What is DQL? Explain SELECT with an example.

### DQL 
Data Query Language used for retrieving and querying data from a database. DQL commands are primarily focused on selecting and retrieving data from one or more database tables.
The most common DQL command is SELECT


1. SELECT first_name, last_name
2. FROM employees
3. WHERE department = 'Sales';

Q5. Explain Primary Key and Foreign Key.

### Primary Key:
1. A Primary Key is a column or set of columns in a database table that uniquely identifies each row or record in that table.
2. It ensures that each row has a unique identifier, and no two rows can have the same primary key value.
3. Primary keys are used for data integrity, indexing, and as a reference for relationships with other tables.


### Foreign Key:

1. A Foreign Key is a column or set of columns in a database table that establishes a link between data in two tables.
2. It creates a relationship between tables by referencing the primary key of another table.
3. Foreign keys are used to enforce referential integrity and maintain relationships between related tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

By using the mysql-connector-python library, which provides a Python interface for MySQL. We need to install the library using pip if haven't already installed:

pip install mysql-connector-python

1. import mysql.connector
2. connection = mysql.connector.connect( # Establishing a connection to the MySQL database
3.     host="hostname",
4.     user="abc",
5.     password="password",
6.     database="database"
7. )
8. 
9. cursor = connection.cursor() # Create a cursor object
10. query = "SELECT * FROM your_table"
11. cursor.execute(query)
12. 
13. for row in cursor.fetchall(): # Fetch and print the results
14.     print(row)
15.     
16. cursor.close()# Close the cursor and the database connection
17. connection.close()


### cursor():
The cursor() method is used to create a cursor object. A cursor is used to execute SQL queries and fetch data from the database. It acts as a pointer or iterator to navigate through the query results.

### execute():
The execute() method is used to execute an SQL query that you pass as a string. It sends the query to the MySQL database for execution. After executing the query, we can use the cursor to fetch and iterate through the results.

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM: This clause specifies the table from which data should be retrieved. It's the first clause processed.

WHERE: The WHERE clause filters the rows from the tables specified in the FROM clause. It defines the conditions that must be met for a row to be included in the result set.

GROUP BY: If specified, the GROUP BY clause groups the rows that have the same values in specified columns into summary rows.

HAVING: The HAVING clause filters the grouped rows produced by the GROUP BY clause. It defines conditions that must be met for a group to be included in the result set.

SELECT: The SELECT clause determines which columns or expressions should be included in the result set. It is processed after filtering and grouping.

DISTINCT: If the DISTINCT keyword is used, duplicate rows are removed from the result set. This is processed after the SELECT clause.

ORDER BY: The ORDER BY clause sorts the rows in the result set based on specified columns or expressions. It's processed after all the previous clauses.

LIMIT/OFFSET: The LIMIT and OFFSET clauses are used for pagination and control the number of rows returned and the starting point in the result set. They are processed last, after sorting.